{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/pdf.css' %}">
  
    <title>Détails de la commande</title>
</head>

<body>

<div id="partieImprimer" class="printable-content">
    
    <div class="titre"> <h1>Détails de la commande :</h1></div>

    <div class="element">

        <h2>Commande :{{purchase_order.id}}</h2>
        <p>Fournisseur : {{purchase_order.supplier}}</p>
        <p>Date de commande : {{purchase_order.order_date}}</p>
        <p>Date de livraison :
            {% if purchase_order.delivery_date %}
                {{ purchase_order.delivery_date }}
            {% else %}
                La commande n'est pas encore livrée
            {% endif %}
        </p>
        <br><br>


    </div>
    {% if purchase_order_items_exist %}
    <h3>Les articles de commande :</h3>
    <table>
        <thead>
        <tr>
            <th>Numéro</th>
            <th>Produit</th>
            <th>Nom</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for item,total in purchase_order_items %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.product.id }}</td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.purchase_price }}</td>
            <td>{{ total }}</td>
        </tr>
        {% endfor %}
        </tbody>
        {% else %}
        <h3>Aucun article trouvé .</h3>
        {% endif %}
        <h3>Paiement total de la commande : </h3>
        <p>
            <strong>{{ purchase_order_total }}</strong>
        </p>
</div>


 
<div class="btn">
  
    <button onclick="imprimerPartie()">Imprimer</button>

</div>
</body>

</html>




