{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/pdf.css' %}">

    <title>Détails de réparation</title>
</head>

<body>

<div id="partieImprimer" class="printable-content">

    <div class="titre"><h1>Détails de réparation :</h1></div>

    <div class="element">

        <p><strong> IdRéparation :{{repair.id}}</strong></p>
        <p>Titre : {{repair.title}}</p>
        <p>Description : {{repair.description}}</p>
        <p>État : {{repair.state}}</p>
        <p>Produit : {{repair.product}}</p>
        <p>Date de réparation : {{repair.repair_date}}</p>
        <p>Client : {{repair.client}}</p>
        <p>Prix : {{repair.repair_price}}</p>
        <br><br>


    </div>


</div>


<div class="btn">

    <button onclick="imprimerPartie()">Imprimer</button>

</div>


</body>

</html>




