{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/pdf.css' %}">
    <title>Détails de la commande</title>
</head>

<body>
   




<div id="partieImprimer" class="printable-content">

    
    <div class="titre"> <h1> Bon de commande :</h1></div>


 


    <div class="element">

        <p> <strong> IdCommande :{{purchase_order.id}}</strong></p>
        <p>Fournisseur : {{purchase_order.supplier}}</p>
        <p>Date de commande : {{purchase_order.order_date}}</p>
        <p>Date de livraison :
            {% if purchase_order.delivery_date %}
            {{ purchase_order.delivery_date }}
            {% else %}
            La commande n'est pas encore livrée
            {% endif %}
        </p>
        


 {% if purchase_order_items_exist %}
        <h3>Les articles de commande :</h3>
    <table>
        <thead>
        <tr>
            <th>Numéro</th>
            <th>Id Produit</th>
            <th>Nom de produit</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for item,total in purchase_order_items %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.product.id }}</td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.purchase_price }} DA</td>
            <td id="total" > {{ total }} DA</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        {% else %}
        <h3>Aucun article trouvé .</h3>
        {% endif %}
          <p> <strong>Paiement total de la commande : {{ purchase_order_total }} DA</strong></p>
        
         
        

    </table>

    </div>

   
    <div class="sig">

        <div  > <p><strong> signateur de fournisseur :</strong></p></div> 
        
        <div class="cachet">  <p><strong> cachet de l'entreprise :</strong></p></div>
 
      </div>

<div class="btn">
<div></div>
    <button onclick="imprimerPartie()">Imprimer</button>
    <button><a href="" >livrer</a></button>

</div>





<script>
    function imprimerPartie() {
   // Récupérer la partie de la page à imprimer
   var contenuAImprimer = document.getElementById('partieImprimer').innerHTML;
   
   // Créer une fenêtre de prévisualisation pour le contenu à imprimer
   var fenetreImpression = window.open('', '_blank');
   
   // Écrire le contenu à imprimer dans la fenêtre de prévisualisation
   fenetreImpression.document.write('<html><head><title>Impression</title></head><body>');
   fenetreImpression.document.write(contenuAImprimer);
   fenetreImpression.document.write('</body></html>');
   
   // Imprimer le contenu
   fenetreImpression.print();
   
   // Fermer la fenêtre de prévisualisation après l'impression
   fenetreImpression.close();
 }
   </script>


</body>

</html>




