{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/pdf.css' %}">

    <title>Bon de réparation</title>
</head>

<body>

<div id="partieImprimer" class="printable-content">

    <div class="titre"><h1>Bon de réparation :</h1></div>

    <div class="element">

        <p><strong> IdRéparation :{{repair.id}}</strong></p>
        <p>Titre : {{repair.title}}</p>
        <p>Description : {{repair.description}}</p>
        <p>État : {{repair.state}}</p>
        <p>Produit : {{repair.product}}</p>
        <p>Date de réparation : {{repair.repair_date}}</p>
        <p>Client : {{repair.client}}</p>
        <p>Prix : {{repair.repair_price}} DA</p>
        <br><br>


    </div>

    <div class="sig">

        <div  > <p><strong> signateur de client :</strong></p></div> 
        
        <div class="cachet">  <p><strong> cachet de l'entreprise :</strong></p></div>
 
      </div>


</div>



<div class="btn">
     <div></div>
    <button onclick="imprimerPartie()">Imprimer</button>
    <button><a href="" >terminé</a></button>

</div>


<script>
    function imprimerPartie() {
   // Récupérer la partie de la page à imprimer
   var contenuAImprimer = document.getElementById('partieImprimer').innerHTML;
   
   // Créer une fenêtre de prévisualisation pour le contenu à imprimer
   var fenetreImpression = window.open('', '_blank');
   
   // Écrire le contenu à imprimer dans la fenêtre de prévisualisation
   fenetreImpression.document.write('<html><head><title>Impression</title></head><body>');
   fenetreImpression.document.write(contenuAImprimer);
   fenetreImpression.document.write('</body></html>');
   
   // Imprimer le contenu
   fenetreImpression.print();
   
   // Fermer la fenêtre de prévisualisation après l'impression
   fenetreImpression.close();
 }
   </script>


</body>

</html>




