{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/pdf.css' %}">

    <title>Bon de réparation</title>
</head>

<body>
<div id="partieImprimer" class="printable-content">

    <div class="titre"><h1>Bon de réparation :</h1></div>

    <div class="element" id="rep">

        <p><strong> IdRéparation :{{repair.id}}</strong></p>
        <p>Titre : {{repair.title}}</p>
        <p>Description : {{repair.description}}</p>
        <p>État : {{repair.state}}</p>
        <p>Id Produit : {{repair.product.id}}</p>
        <p>Produit : {{repair.product}}</p>
        <p>Date de réparation : {{repair.repair_date}}</p>
        <p>Client : {{repair.client}}</p>
        <p>Prix : {{repair.repair_price}} DA</p>


    </div>

    <div class="sig">

        <div><p><strong> Signateur de client :</strong></p></div>

        <div class="cachet"><p><strong> Cachet de l'entreprise :</strong></p></div>

    </div>


</div>


</body>

</html>




