<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="containerindex">

        <div class="head" >
            <h2>CRUD</h2>
            <p>PRODUCT MANAGMENT SYSTEM</p>
         </div>
           

              <form action="" class="form">  
                <div class="boxcompte">
                <input  class="input" type="username" name="username" id="username" placeholder="username">
                <input  class="input" type="password" name="password" id="password" placeholder="Password" minlength="4" >
                 </div>
                <input class="button" id="connecter" type="submit" value="se connecter">
          
                </form>
        
          
     </div>

     
    
</body>
</html>