
body{ 
    font-family:'Courier New', Courier, monospace ;
    background-color: #605d5d1b ;
}


.printable-content{
    margin: 2px;
}
.titre{
    text-align: center;
    
}
.element{
    padding-left: 5%;
    padding-right: 5%;
    background-color:;
}


.sig{
    display: grid;
    grid-template-columns:1fr 1fr  ;
    /* justify-items: center;  */
    /* align-items: center;  */
    padding-left:1px ;
    padding-right:20% ;
    background-color: ;

}
.cachet{
text-align: right;

}
#total{
    text-decoration:underline;
}

.btn{
    padding-top: 5%;
    text-align: center;
}

table{
    background-color: #66656536;
    width: 100%;
    text-align: center;
    margin: 5px 0;
 }
 table th{
    text-transform: uppercase; 
 }
 th,td{ 
     padding: 2px; 
}