
body{ 
    font-family:'Courier New', Courier, monospace ;
    background-color: #605d5d1b ;
}

a{
    text-decoration: none;
}
.printable-content{
    margin: 2px;
}
.titre{
    text-align: center;
    
}
.element{
    padding-left: 5%;
    padding-right: 5%;
    /*background-color:;*/
}


.sig{
    display: grid;
    grid-template-columns:1fr 1fr  ;
    /* justify-items: center;  */
    /* align-items: center;  */
    padding-left:1px ;
    padding-right:20% ;
    /*background-color: ;*/

}
.cachet{
text-align: right;

}
#total{
    text-decoration:underline;
}

.btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5%;
    /* text-align: center;  */
    justify-items: center;
    align-items: center;
}

table{
    background-color: #66656536;
    width: 100%;
    text-align: center;
    margin: 5px 0;
    border-radius: 10px;
 }
 #rep{
    background-color: #66656536;
    border-radius: 10px;
 padding-bottom: 1px;
 padding-top: 1px;
   
 }
 table th{
    text-transform: uppercase; 
 }
 th,td{ 
     padding: 2px; 
}
.button{

    height: 25px;
    border-radius:10px ;
    border: none;
    cursor: pointer;
    background: #007acc;
    color: white;
    transition: 0.7s;

}
.button:hover{
    letter-spacing: 1px;
    background: #106096;
   
}
.button:focus{
    transform: scale(1.1);
}
#livrer{
    height: 25px;
    background: #6d3e607a;
}