*{
    padding: 0;
    margin: 0; 
}
body{
   
    
    font-family:system-ui ;
}

.printable-content{
    display: grid;
    grid-template-rows: 15% 75% 10%;
    background-color: white;

}
.element{
    margin-left: 40;
}
.element p{
    margin-top: 5px;
    font-size: 25px;
}