*{
    padding: 0;
    margin: 0;  
}
body{
    background:#222 ;
    color: #fff;
    font-family:system-ui ;
}

.corp{
    display: grid;
    grid-template-columns: 25% 75%;  
}

.container {
    width: 90%;
    margin: 0;
}
.containerindex {
    width: 100%;
    margin: 0;
}

.head{
    text-align: center;
    margin: 10px 0px;
    letter-spacing: 5px;
}

form{
    margin: auto;
    text-align: center;
    padding: 3%;

}

input{
    width: 62%;
    height: 27px;
    outline: none;
    border: none;
    background: #111111a7;
    margin: 4px 0px;
    border-radius:9px ;
    padding: 4px;
    color:#fff;
}
input:hover{
    background: #000;
    transform: scale(1.1);
    transition: 0.7s;
}
input:focus{
    background: #000;
}
#etat{
    width: 50%;
}

.button{
    width: 62%;
    height: 27px;
    border-radius:10px ;
    border: none;
    cursor: pointer;
    background: #007acc;
    color: white;
    transition: 0.7s;

}
.button:hover{
    letter-spacing: 1px;
    background: #106096;
   
}
.button:focus{
    transform: scale(1.1);
}

.titre{
    text-align: center;
    text-decoration: double;
    letter-spacing: 1px;
    
}


.nav{
    display: flex;
    flex-direction: column;
    width: 200px;
    background: #111111a7 ;
    justify-content: center;
    border-radius: 10px;
    transition: 1s;
    padding: 5px;
    overflow: hidden;
}

.liste{
    text-align: center;
    display: grid;
    grid-template-rows: 20% 80%;
}

.c1{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 18% 60% 22%;
 
}

.colone2{
    padding-top: 5%;
    justify-content: center;
    align-items: center;
}

.c2{
    margin-top: 2%;
   
}


.box{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
     
    justify-items: center;
    align-items: center;
    
}
.boxcompte{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;

}
.boxvente{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.boxcommande{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
 
    justify-items: center;
    align-items: center;
    
}

#role{
    color: white;
    margin-bottom: 7 px;
}


.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#imprimer{ 
    width: 110px;
    height: 27px;
    border-radius:10px ;
    border: none;
    cursor: pointer;
    background: #007acc;
    color: white;
    transition: 0.7s;
    margin-left: 600px;
}
#imprimer:hover{
    letter-spacing: 1px;
    background: #106096;
}

.produit{
    display: grid;
    grid-template-columns: 50% 40% 10%;
    justify-items: center;
    align-items: center;
    grid-column-gap: 17px ;
    padding: 0;
}
#champsSaisie{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-items: center;
    align-items: center;
    grid-column-gap: 60px ;
    padding: 0;
    width: 70%;
}

table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
 }
 table th{
    text-transform: uppercase; 
 }
 th,td{ 
     padding: 5px; 
}
#supprimer{
    background-color: rgba(193, 32, 32, 0.916);
}
#modifier{
    background: #1bb635b7;
   
}
.boxsup{
    padding-top: 10%;
    display: grid;
    grid-template-rows: 80% 20% ;
    justify-items: center;
    align-items: center;

}

.btn{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    justify-items: center;
    align-items: center;

}

#cat{
  width: 20%;
  
}


